@model Mod03_ChelasMovies.Rep.Helpers.Collections.IPagedList<Movie>
@using Mod03_ChelasMovies.DomainModel

<div class="Pager">
    Page @(Model.PageIndex + 1) of @Model.TotalPages page(s)
    
    @if (Model.HasPreviousPage)
    {
        @Html.RouteLink("|<", new { Page = 0 })
    }
    
    @if (Model.PageIndex > 0)
    {
        @Html.RouteLink("<", new { Page = Model.PageIndex - 1 })
    }
    &nbsp;
    &nbsp;
    @if (Model.HasNextPage)
    {
        @Html.RouteLink(">", new { Page = Model.PageIndex + 1 })
    }
        
    @if (Model.PageIndex < Model.TotalPages - 1)
    {
        @Html.RouteLink(">|", new { Page = Model.TotalPages - 1 })
    }
</div>