@model ICollection<Mod03_ChelasMovies.DomainModel.Comment>
    
<fieldset>
    <legend>Comments</legend>
    <table>
    <tr>
        <th></th>
        <th>
            Description
        </th>
        <th>
            Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditComment", new { movieId = item.MovieID, commentId = item.ID }) |
            @Html.ActionLink("Details", "DetailsComment", new { movieId = item.MovieID, commentId = item.ID }) |
            @Html.ActionLink("Delete", "DeleteComment", new { movieId = item.MovieID, commentId = item.ID })
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Rating
        </td>
    </tr>
}

</table>
</fieldset>